<div>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">{{ title }}</a>

    <form class="form-inline">
      <div class="form-group">
        <input
          class="form-control mr-sm-2"
          name="username"
          type="text"
          placeholder="Username"
          aria-label="Username"
        />
        <input
          class="form-control mr-sm-2"
          name="password"
          type="password"
          placeholder="Password"
          aria-label="Password"
        />
        <button class="btn btn-light">Sign-in</button>
      </div>
    </form>
  </nav>
  <div class="container">
    <app-catalog></app-catalog>
  </div>
</div>
